@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.container {
    /* border: 2px solid black; */
    /* height: 50vh; */
}


.header {
    background-color: black;
}

/* section a  */
.secimgA {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.col-7 {
    border: 2px solid red;

}

.col-2 img {
    position: relative;
    left: 30%;
    width: 100px;
}

.imgsec {
    height: 30vh;
}

h1 {
    position: absolute;
    top: 20px;
    font-size: 55px;
    color: white;
    font-family: 'Caveat', cursive;
    text-shadow: 2px 2px 2px rgb(250, 250, 250);
}

.nav {
    position: relative;
    top: 35px;
    /* background-color: cyan; */
}



li a {
    text-decoration: none;
    color: rgb(251, 248, 248);
    padding: 3px;
    margin-left: 6px;
    border-radius: 5px;
    border: 2px solid black;
}

.drop {
    position: relative;
    display: inline-block;
}

.dropbtn {
    height: 35px;
    padding: 4px;
    border-radius: 5px;
    color: white;
    border: 2px solid black;
}

.content {
    display: none;
    position: absolute;
}

.content a {
    background-color: blue;
    display: block;
    border: none;
    width: 140px;
    color: white;
    border-bottom: 2px dotted white;
    text-align: center;
    transition: 1s transform;
}

a:hover {
    transform: scale(110%, 110%);
    color: orange;
    background-color: #555;
}


.drop:hover .content {
    display: block;
}



.galimg {
    width: 200px;
    border: 2px solid #e2d4d4;
    border-radius: 10px;
}

.imgcontent {
    display: none;
    position: absolute;
}

/* .imgcontent p{
    background-color: blue;
    display: block;
    border: none;
    width: 140px;
    color: white;
    border-bottom: 2px dotted white;
    text-align: center;
    transition: 1s transform;
} */

.col-3:hover .imgcontent {
    position: absolute;
    top: 0px;
    display: block;
    width: 200px;
    transform: scale(100%, 100%);
    color: rgb(165, 17, 17);
    background-color: #0e0d0d;
}


figcaption {
    position: relative;
    left: 30%;
}


.space {
    position: relative;
    top: 10px;
}

.about {
    background-color: rgb(37, 36, 36);
    position: relative;
    height: 50vh;

}


.child-1 img {
    z-index: -1;
}

.child-2 h1 {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 30.5px;
    word-wrap: break-word;
    width: 70%;
    text-shadow: 2px 2px 2px #555;
}